{% if review._source.reviewtags %}
    {% if review._source.reviewtags.0 == 'FEATURE' %}
        {% set reviewTypeClass = 'feature' %}
    {% elseif review._source.reviewtags.0 == 'TASK' %}
        {% set reviewTypeClass = 'task' %}
    {% elseif review._source.reviewtags.0 == 'BUGFIX' %}
        {% set reviewTypeClass = 'bugfix' %}
    {% endif %}
{% else %}
    {% set reviewTypeClass = 'default' %}
{% endif %}

<div class="review review-full review-type-{{ reviewTypeClass }}">
    {% if review._source.mergeable == 'no' %}
        <div class="review-note review-note-danger">
            Merge conflict
        </div>
    {% endif %}
    <div class="review-header">
        <div class="review-issue">
            #{{review._source.id}}
        </div>
        <div class="review-title">
            <a href="https://review.typo3.org/c/Packages/TYPO3.CMS/+/{{ review._source.id }}/" target="gerrit{}{{ review._source.id }}">{{review._source.subject}}</a>
        </div>
         {% if review._source.branch != 'master' %}
            <div class="review-branch">
                <span class="badge badge-danger">{{review._source.branch}}</span>
            </div>
        {% endif %}
    </div>
    <div class="review-data">
        <div class="review-data-item">
            <span class="review-data-item-label">Topic</span>
            <span class="review-data-item-value">{{review._source.topic}}</span>
        </div>
        <div class="review-data-item">
            <span class="review-data-item-label">Target Release</span>
            <span class="review-data-item-value">
                {% for release in review._source.releases %}
                    {% if release == 'master' %}
                        <span class="badge badge-success">master</span>
                    {% elseif release == '9.5' %}
                        <span class="badge badge-info">{{release}}</span>
                    {% elseif release == '8.7' %}
                        <span class="badge badge-warning">{{release}}</span>
                    {% else %}
                        <span class="badge badge-danger">{{release}}</span>
                    {% endif %}
                {% endfor %}
            </span>
        </div>
        <div class="review-data-item">
            <span class="review-data-item-label">Affected Files</span>
            <span class="review-data-item-value">{{review._source.affected_files}}</span>
        </div>
        <div class="review-data-item">
            <span class="review-data-item-label">Patchsets</span>
            <span class="review-data-item-value">{{review._source.patchsets}}</span>
        </div>
        <div class="review-data-item">
            <span class="review-data-item-label">Created</span>
            <span class="review-data-item-value">{{ relativetime(to_datetime(review._source.created_on)) }}</span>
        </div>
        <div class="review-data-item">
            <span class="review-data-item-label">Updated</span>
            <span class="review-data-item-value">{{ relativetime(to_datetime(review._source.updated_on)) }}</span>
        </div>
        <div class="review-data-item">
            <span class="review-data-item-label">Reviews</span>
            <span class="review-data-item-value">
                {% if review._source.positive_reviews %}
                    <span class="badge badge-success">{{review._source.positive_reviews}}</span>
                {% endif %}
                {% if review._source.negative_reviews %}
                    <span class="badge badge-danger">{{review._source.negative_reviews}}</span>
                {% endif %}
            </span>
        </div>
        <div class="review-data-item">
            <span class="review-data-item-label">Verifies</span>
            <span class="review-data-item-value">
                {% if review._source.positive_verifications %}
                    <span class="badge badge-success">{{review._source.positive_verifications}}</span>
                {% endif %}
                {% if review._source.negative_verifications %}
                    <span class="badge badge-danger">{{review._source.negative_verifications}}</span>
                {% endif %}
            </span>
        </div>
    </div>
</div>
