{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}{% trans %}BiS for{% endtrans %} {{ character.name }}{% endblock %}

{% block body %}
    <div class="content-section bg-transparent">
        <div class="container-fluid">
            <p><a class="btn btn-outline-primary" href="https://wowtbc.gg/bis-list/balance-druid/" target="_blank">{% trans %}BiS Gear Planner{% endtrans %}</a></p>
            <hr>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <h3>{{ character.name }}</h3>
                    <ul class="list-group">
                        {% for slotIdFromUtility, slotName in slotUtility.toArray %}
                            {{ macros.bisSelection(character.id, slotIdFromUtility, slotId, slotUtility, bisItems, wowheaddomain)}}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-9">
                    <p>Tragt in die Phasen ein, was in den Phasen <u>jeweils</u> droppt. Also Loot aus P1 auch in P1 lassen.</p>
                    <p>Bitte keine Items 2x eintragen, die ihr nicht auch 2x tragen könnt.</p>
                    {% if slotId == '' %}
                        <h1>{% trans %}Please select a slot{% endtrans %}</h1>
                    {% else %}
                        <form action="{{ path('save_bis', {charId: character.id, slot: slotId}) }}" method="post">
                        <h3 id="slots" data-slotids="{{ slotId }}">{{ slotUtility.slotName(slotId) }}</h3>
                        <h4>Phase 1 (Karazhan, Gruul's Lair, Magtheridon's Lair)</h4>
                        <div class="card-deck">
                            {{ macros.itemDisplay(1, bisItems[slotId].1, slotId, character.id, wowheaddomain) }}
                            {{ macros.itemDisplay(2, bisItems[slotId].2, slotId, character.id, wowheaddomain) }}
                        </div>
                        <hr>
                        <h4>Phase 2 (Serpentshrine, Tempest Keep)</h4>
                        <div class="card-deck">
                            {{ macros.itemDisplay(21, bisItems[slotId].21, slotId, character.id, wowheaddomain) }}
                            {{ macros.itemDisplay(22, bisItems[slotId].22, slotId, character.id, wowheaddomain) }}
                        </div>
                        <hr>
                        <h4>Phase 3 (Mount Hyjal, Black Temple)</h4>
                        <div class="card-deck">
                            {{ macros.itemDisplay(31, bisItems[slotId].31, slotId, character.id, wowheaddomain) }}
                            {{ macros.itemDisplay(32, bisItems[slotId].32, slotId, character.id, wowheaddomain) }}
                        </div>
                        <hr>
                        <h4>Phase 4 (Zul'Aman)</h4>
                        <div class="card-deck">
                            {{ macros.itemDisplay(41, bisItems[slotId].41, slotId, character.id, wowheaddomain) }}
                            {{ macros.itemDisplay(42, bisItems[slotId].42, slotId, character.id, wowheaddomain) }}
                        </div>
                        <hr>
                        <h4>Phase 5 (Sunwell)</h4>
                        <div class="card-deck">
                            {{ macros.itemDisplay(51, bisItems[slotId].51, slotId, character.id, wowheaddomain) }}
                            {{ macros.itemDisplay(52, bisItems[slotId].52, slotId, character.id, wowheaddomain) }}
                        </div>
                        <hr>
                        <input type="submit" class="btn btn-success" value="{% trans %}Save{% endtrans %}">
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
