{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}

{% block title %}{% trans %}Raid Roster{% endtrans %}{% endblock %}

{% block body %}
    <div class="content-section bg-primary text-white">
        <div class="container">
            <h1>{% trans %}Raid Roster{% endtrans %}</h1>
        </div>
    </div>
    <div class="content-section bg-transparent">
        <div class="container">
            <div class="row">
                {% for classId, players in roster %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4>
                                <img class="rounded" src="/assets/icons/class_{{ classId }}.png" width="44" height="44" />
                            {% if classId == 1 %}
                                {% trans %}Warriors{% endtrans %}
                            {% elseif classId == 2 %}
                                {% trans %}Priests{% endtrans %}
                            {% elseif classId == 3 %}
                                {% trans %}Mages{% endtrans %}
                            {% elseif classId == 4 %}
                                {% trans %}Warlocks{% endtrans %}
                            {% elseif classId == 5 %}
                                {% trans %}Rogues{% endtrans %}
                            {% elseif classId == 6 %}
                                {% trans %}Druids{% endtrans %}
                            {% elseif classId == 7 %}
                                {% trans %}Hunters{% endtrans %}
                            {% elseif classId == 8 %}
                                {% trans %}Shamans{% endtrans %}
                            {% elseif classId == 9 %}
                                {% trans %}Paladins{% endtrans %}
                            {% else %}
                                {% trans %}Unspecified{% endtrans %}
                            {% endif %}
                            </h4>
                        </div>
                        <table class="table table-sm">
                            {% for player in players %}
                                {% set twinkText = '' %}
                                {% if player.twink == true %}
                                    {% set twinkText = ' class="table-danger" ' %}
                                {% endif %}
                                <tr{{ twinkText|raw }}>
                                    <td>
                                        <i class="fa fa-fw fa-{{ player.rank.icon|default('') }}" style="color: {{ player.rank.color|default('') }}" title="{{ player.rank.name|default('') }}"></i>
                                    </td>
                                    <td><img src="assets/icons/spec_{{ player.spec }}.jpg" width="20" height="20">
                                        {% if player.spec == 1 %}
                                            <i class="fa fa-fw fa-shield-alt"></i>
                                        {% elseif player.spec == 2 %}
                                            <i class="fa fa-fw fa-band-aid"></i>
                                        {% elseif player.spec == 3 %}
                                            <i class="fa fa-fw fa-skull-crossbones"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('character', {'charId': player.id}) }}">{{ player.name }}</a>
                                    </td>
                                    <td>
                                        {{ macros.tradeskills(player.profession1, player.profession1skill) }}
                                    </td>
                                    <td>
                                        {{ macros.tradeskills(player.profession2, player.profession2skill) }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
