{% macro raidGroup(raidGroup, groupId) %}
    {% if raidGroup.setup.groups[groupId] is defined %}
        {% for player in raidGroup.setup.groups[groupId] %}
            <li
                    class="groupbuilder-item-player class-{{ player.class }} {% if player.twink == true %}twink{% endif %}"
                {% if player.account is not null %}
                    data-account="{{ player.account.id }}"
                {% endif %}
                    data-character="{{ player.id }}"
                    data-spec="{{ player.spec }}"
                    data-class="{{ player.class }}"
            >
                <i class="spec"><img src="/assets/icons/spec_{{ player.spec }}.jpg" width="18"></i>
                <small>{{ player.name }}</small>
            </li>
        {% endfor %}
    {% endif %}
{% endmacro %}