{% macro itemicon(slot, slotNumber, priority, wowheaddomain, size='small', highlight='true') %}
    {% if slot[slotNumber][priority] is defined and slot[slotNumber][priority] is not null %}
        {% if slot[slotNumber][priority].hasItem %}
            <div class="bis-list-icon {% if highlight == 'true' %}hasitem{% endif %} bis-icon-{{ size }}">
                <a href="#" data-wowhead="item={{ slot[slotNumber][priority].item.id }}&amp;domain={{wowheaddomain}}" data-wh-icon-size="{{size}}"></a>
            </div>
        {% else %}
            <div class="bis-list-icon missesitem bis-icon-{{ size }}">
                <a href="#" data-wowhead="item={{ slot[slotNumber][priority].item.id }}&amp;domain={{wowheaddomain}}" data-wh-icon-size="{{size}}"><img alt="" class="low-contrast-icon" src="/assets/icons/items/{{slot[slotNumber][priority].item.icon }}-{{ size }}.png"> </a>
            </div>
        {% endif %}
    {% else %}
        <div class="bis-list-icon blank bis-icon-{{ size }}">
&nbsp;
        </div>
    {% endif %}
{% endmacro %}

{% macro itemiconAbbreviation(slot, slotNumber, priority, wowheaddomain, size='small') %}
    {% if slot[slotNumber][priority] is not null %}
        {% if slot[slotNumber][priority].hasItem %}
            <a href="#" data-wowhead="item={{ slot[slotNumber][priority].item.id }}&amp;domain={{wowheaddomain}}" data-wh-icon-size="{{size}}">{{ slot[slotNumber][priority].item.abbreviation }}</a>
        {% else %}
            <a href="#" data-wowhead="item={{ slot[slotNumber][priority].item.id }}&amp;domain={{wowheaddomain}}" data-wh-icon-size="{{size}}" style="color:#444444 !important;">{{ slot[slotNumber][priority].item.abbreviation }}</a>
        {% endif %}
    {% else %}
        <div class="bis-list-icon blank bis-icon-{{ size }}">
            &nbsp;
        </div>
    {% endif %}
{% endmacro %}

{% macro itemDisplay(priority, bisEntry, slotId, character, wowheaddomain) %}
    <div class="card mt-0">
        <div class="card-body">
            <h5 class="card-title">
                {% if priority == 1 %}
                  Best
                {% elseif priority == 2 %}
                  Option
                {% elseif priority == 3 %}
                  Tank Best
                {% elseif priority == 4 %}
                  Tank Option
                {% endif %}
            </h5>
            {% if bisEntry is not null %}
                <div class="item-view-with-item">
                    <div class="bis-list d-flex justify-content-between">
                        <div class="bis-list-iconx">
                            <span class="guildbank-item-icon">
                                <a href="#" data-wowhead="item={{ bisEntry.item.id }}&amp;domain={{wowheaddomain}}" data-wh-icon-size="medium"></a>
                            </span>
                        </div>
                        <div class="bis-list-remove">
                            <a class="btn btn-outline-primary" href="{{ path('delete_bis', {bis: bisEntry.id, charId: character, slot: slotId}) }}">X</a>
                        </div>
                    </div>
                    <div class="bis-list-name">
                        <p>{{ bisEntry.item.name }}</p>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="hidden" name="bisItem[{{ priority }}][{{ bisEntry.item.id }}][hasItem]" value="0">
                        <input type="checkbox" class="custom-control-input" id="customSwitch_{{ priority }}" name="bisItem[{{ priority }}][{{ bisEntry.item.id }}][hasItem]" {% if bisEntry.hasItem %} checked="checked"{% endif %}>
                        <label class="custom-control-label" for="customSwitch_{{ priority }}">has Item</label>
                    </div>
                </div>
            {% else %}
                <div class="item-view-without-item">
                    <input type="text" class="form-control typeahead" id="autocomplete_{{ priority }}" placeholder="Type to search">
                    <input type="hidden" id="priority_{{ priority }}" name="bisItem[{{ priority }}][itemId]" value="0">
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro bisSelection(character, slot, activeSlot, slotUtility, bisItems, wowheaddomain) %}
    {% import _self as itemIcons %}
    <li class="list-group-item {% if slot == activeSlot %} active{% endif %}">
        <div class="d-flex justify-content-between">
            <div class="p-2 bd-highlight">
                <a class="btn btn-outline-primary btn-block" title="{{ slotUtility.slotName(slot)}}" href="{{ path('character_bislist', {'charId': character, 'slotId': slot}) }}">{{ slotUtility.slotName(slot)}}</a>
            </div>
            <div class="p-2 bd-highlight d-flex">
                <table class="table table-sm table-borderless">
                    <tr>
                        <td>P1</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 1, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 2, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 3, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 4, wowheaddomain, 'medium') }}</td>
                    </tr>
                    <tr>
                        <td>P3</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 31, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 32, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 33, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 34, wowheaddomain, 'medium') }}</td>
                    </tr>
                    <tr>
                        <td>P4</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 41, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 42, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 43, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 44, wowheaddomain, 'medium') }}</td>
                    </tr>
                    <tr>
                        <td>P5</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 51, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 52, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 53, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 54, wowheaddomain, 'medium') }}</td>
                    </tr>
                    <tr>
                        <td>P6</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 61, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 62, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 63, wowheaddomain, 'medium') }}</td>
                        <td>{{ itemIcons.itemicon(bisItems, slot, 64, wowheaddomain, 'medium') }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro eventSignup(event, account) %}
    <table class="table table-striped">
        <tr>
            <th>Status</th>
            <th>{% trans %}Character{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    {% for toon in account.characters %}
        <tr>
            {% set status = 'question' %}
            {% for signup in event.signups %}
                {% if signup.playerName.id == toon.id %}
                    {% if signup.signedUp == 1 %}
                        {% set status = 'check' %}
                    {% elseif signup.signedUp == 2 %}
                        {% set status = 'times' %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <td><i class="fa fa-{{status}}"></i></td>
            <td>{{ toon.name }}</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="{{ path('raid_signupforraid', {'characterId': toon.id, 'eventId': event.id}) }}" class="btn btn-success"><i class="fa fa-check"></i></a>
                    <a href="{{ path('raid_signoutforraid', {'characterId': toon.id, 'eventId': event.id}) }}" class="btn btn-danger"><i class="fa fa-times"></i></a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
    <small>{% trans %}If you do not want to raid with one of your twinks, but will attend with a main character, don't "cancel" with the twink{% endtrans %}</small>
{% endmacro %}

{% macro professions(skill) %}
    {% set percentage =  skill / 3.33333|round%}
    {% if skill < 100 %}
        {% set color = 'bg-danger' %}
    {% elseif skill < 200 %}
        {% set color = 'bg-warning' %}
    {% elseif skill < 299 %}
        {% set color = 'bg-info' %}
    {% elseif skill > 299 %}
        {% set color = 'bg-success' %}
        {% set percentage = 100 %}
    {% endif %}
    <div class="progress">
        <div class="progress-bar {{ color }}" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ skill }}</div>
    </div>
{% endmacro %}

{% macro tradeskills(skillId, skill) %}
    {% if skillId > 0 %}
        <div class="tradeskill">
            <div class="tradeskill-image">
                <img src="{{ asset('assets/icons/tradeskills/tradeskill_'~skillId~'.png') }}" alt="{{ skill }}" title="{{ skill }}">
            </div>
            <div class="tradeskill-progress">
                {% set percentage =  skill / 3.33333|round%}
                {% if skill < 100 %}
                    {% set color = 'bg-danger' %}
                {% elseif skill < 200 %}
                    {% set color = 'bg-warning' %}
                {% elseif skill < 299 %}
                    {% set color = 'bg-info' %}
                {% elseif skill > 299 %}
                    {% set color = 'bg-success' %}
                    {% set percentage = 100 %}
                {% endif %}
                <div class="progress" style="height:5px">
                    <div class="progress-bar {{ color }}" role="progressbar" style="width: {{ percentage }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro signedUpCheckBox(signUps, character, event, status) %}
    {% if signUps[character.id][event.id] is defined %}
        {% if signUps[character.id][event.id] == status %}
            checked
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro tableHighLight(signUps, event, account) %}
    {% set class = 'table-dark' %}
    {% for character in account.characters %}
        {% if signUps[character.id][event.id] is defined %}
            {% if signUps[character.id][event.id] == 1 %}
                {% set class = 'table-success' %}
            {% elseif signUps[character.id][event.id] == 2 %}
                {% set class = 'table-danger' %}
            {% else %}
                {% set class = '' %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {{ class }}
{% endmacro %}

{% macro bisProgressBar(bisList, phaseId) %}
    {% set total = 0 %}
    {% set has = 0 %}
    {% if phaseId == '' %}
        {% set startPriority = 0 %}
        {% set endPriority = 5 %}
    {% else %}
        {% set startPriority = phaseId * 10 %}
        {% set endPriority = (phaseId * 10 ) + 5 %}
    {% endif %}
    {% for slot in bisList %}
        {% for priority, entry in slot %}
            {% if 'max' not in priority %}

                {% if priority > startPriority and priority < endPriority %}
                    {% set total = total + 1 %}
                    {% if entry.hasItem == true %}
                        {% set has = has + 1 %}
                    {% endif %}
                {% endif %}

            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if total == 0 %}
        {% set percentage = 100 %}
    {% else %}
        {% set percentage = (has/total)*100 %}
    {% endif %}
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ percentage }}%;" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">{{ has }}/{{ total }}</div>
{#        <div class="progress-bar" role="progressbar" style="width: {{ 100 - percentage }}%;" aria-valuenow="{{ 100 - percentage }}" aria-valuemin="0" aria-valuemax="100"></div>#}
    </div>
{% endmacro %}