{% macro itemicon(slot, slotNumber, priority, size='small') %}
    {% if slot[slotNumber][priority] is not null %}
        {% if slot[slotNumber][priority].hasItem %}
            <div class="bis-list-icon hasitem bis-icon-{{ size }}">
                <a href="#" data-wowhead="item={{ slot[slotNumber][priority].item.id }}&amp;domain=classic" data-wh-icon-size="{{size}}"></a>
            </div>
        {% else %}
            <div class="bis-list-icon missesitem bis-icon-{{ size }}">
                <a href="#" data-wowhead="item={{ slot[slotNumber][priority].item.id }}&amp;domain=classic" data-wh-icon-size="{{size}}"><img class="low-contrast-icon" src="/assets/icons/items/{{slot[slotNumber][priority].item.icon }}.png"> </a>
            </div>
        {% endif %}
    {% else %}
        <div class="bis-list-icon blank bis-icon-{{ size }}">
&nbsp;
        </div>
    {% endif %}
{% endmacro %}

{% macro itemDisplay(priority, bisEntry, slotId, character) %}
    <div class="card mt-0">
        <div class="card-body">
            <h5 class="card-title">
                {% if priority == 1 %}
                  Best
                {% elseif priority == 2 %}
                  Option A
                {% elseif priority == 3 %}
                  Option B
                {% endif %}
            </h5>
            {% if bisEntry is not null %}
                <div class="item-view-with-item">
                    <div class="bis-list d-flex justify-content-between">
                        <div class="bis-list-iconx">
                            <span class="guildbank-item-icon">
                                <a href="#" data-wowhead="item={{ bisEntry.item.id }}&amp;domain=classic" data-wh-icon-size="medium"></a>
                            </span>
                        </div>
                        <div class="bis-list-remove">
                            <a class="btn btn-outline-primary" href="{{ path('delete_bis', {bis: bisEntry.id, charId: character, slot: slotId}) }}">X</a>
                        </div>
                    </div>
                    <div class="bis-list-name">
                        <p>{{ bisEntry.item.name }}</p>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="hidden" name="bisItem[{{ priority }}][{{ bisEntry.item.id }}][hasItem]" value="0">
                        <input type="checkbox" class="custom-control-input" id="customSwitch_{{ priority }}" name="bisItem[{{ priority }}][{{ bisEntry.item.id }}][hasItem]" {% if bisEntry.hasItem %} checked="checked"{% endif %}>
                        <label class="custom-control-label" for="customSwitch_{{ priority }}">has Item</label>
                    </div>
                </div>
            {% else %}
                <div class="item-view-without-item">
                    <input type="text" class="form-control typeahead" id="autocomplete_{{ priority }}" placeholder="Type to search">
                    <input type="hidden" id="priority_{{ priority }}" name="bisItem[{{ priority }}][itemId]" value="0">
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro bisSelection(character, slot, activeSlot, slotUtility, bisItems) %}
    {% import _self as itemIcons %}
    <li class="list-group-item {% if slot == activeSlot %} list-group-item-secondary{% endif %}">
        <div class="d-flex justify-content-between">
            <div class="p-2 bd-highlight">
                <a class="btn btn-outline-primary btn-block" title="{{ slotUtility.slotName(slot)}}" href="{{ path('character_bislist', {'charId': character, 'slotId': slot}) }}">{{ slotUtility.slotName(slot)}}</a>
            </div>
            <div class="p-2 bd-highlight d-flex">
                <div class="mr-1">{{ itemIcons.itemicon(bisItems, slot, 1, 'medium') }}</div>
                <div class="mr-1">{{ itemIcons.itemicon(bisItems, slot, 2, 'medium') }}</div>
                <div class="">{{ itemIcons.itemicon(bisItems, slot, 3, 'medium') }}</div>
            </div>
        </div>
    </li>
{% endmacro %}