{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}{% trans %}Need by Zone{% endtrans %}{% if bisItems is defined %} {{ zones.zoneName(zone) }}{% endif %}{% endblock %}

{% block body %}
    <div class="content-section bg-primary text-white">
        <div class="container">
            <h1>{% trans %}BiS by Zone{% endtrans %}{% if bisItems is defined %} {{ zones.zoneName(zone) }}{% endif %}</h1>
        </div>
    </div>
    <div class="content-section bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>{% trans %}Zone with BiS Items{% endtrans %}</h5>
                    <div class="list-group">
                        {% for item in items %}
                            <a class="list-group-item list-group-item-action{% if item.zone == zone %} active{% endif %}" href="{{ path('bis_need_by_zone', {zoneId: item.zone}) }}">{{ zones.zoneName(item.zone) }} ({{ item.amount }})</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-6">
                    {% if bisItems is defined %}
                        <h5>{% trans %}Players with need{% endtrans %}</h5>
                        <ul class="list-group">
                        {% for bisEntry in bisItems %}
                            <li class="list-group-item">
                                <a href="#" data-wowhead="item={{ bisEntry.item.id }}&amp;domain=classic" data-wh-icon-size="medium">{{ bisEntry.item.name }}</a>
                                <br>
                                {% for spec,playersInSpec in bisEntry.playersWithNeed %}
                                    {% if spec == 1 %}
                                        <i class="fa fa-fw fa-shield-alt"></i>
                                    {% elseif spec == 2 %}
                                        <i class="fa fa-fw fa-band-aid"></i>
                                    {% elseif spec == 3 %}
                                        <i class="fa fa-fw fa-skull-crossbones"></i>
                                    {% endif %}
                                    <small>
                                    {% for player in playersInSpec %}
                                        {{ player.name }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                    </small><br>
                                {% endfor %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
