{% extends 'base.html.twig' %}

{% block title %}{% trans %}Raid Overview{% endtrans %}{% endblock %}

{% block body %}
<div class="content-section bg-transparent">
    <div class="container">
        <div class="row">
            {% for raid in raids %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ raid.note }}</h5>
                            <h6 class="card-subtitle">{{ raid.date|date('d.m.Y') }}</h6>
                        </div>
                        <div class="card-body">
                            <p>{{ raid.attendances|length }} {% trans %}Players{% endtrans %}</p>
                            {% for loots in raid.loots %}
                                <span class="guildbank-item-icon">
                                    <a href="#" data-wowhead="item={{ loots.item.id }}&amp;domain={{wowheaddomain}}" data-wh-icon-size="medium"></a>
                                </span>
                            {% endfor %}
                            <p>
                                <a href="{{ path('raid_show', {'raidId': raid.id}) }}" class="btn btn-primary">Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
