{% extends 'base.html.twig' %}

{% block title %}Show Raid Details!{% endblock %}

{% block body %}
<div class="content-section bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h3>{% trans %}Attendees{% endtrans %}</h3>
                <ul class="list-group">
                    {% for attendance in raid.attendances %}
                        <li class="list-group-item">
                            <span class="wow-class-icon"><img src="/assets/icons/class_{{ attendance.player.class }}.png" width="44" height="44" /></span>
                            <a href="{{ path('character', {'charId': attendance.player.id}) }}">{{ attendance.player.name }}</a>
                            <span class="float-right class-spec">
                            {% if attendance.player.spec == 1 %}
                                <i class="fa fa-fw fa-shield-alt"></i>
                            {% elseif attendance.player.spec == 2 %}
                                <i class="fa fa-fw fa-band-aid"></i>
                            {% elseif attendance.player.spec == 3 %}
                                <i class="fa fa-fw fa-skull-crossbones"></i>
                            {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 col-lg-9">
                <h3>{% trans %}Loot{% endtrans %}</h3>
                <ul class="list-group">
                    {% for item in raid.loots %}
                        <li class="list-group-item">
                            <span class="guildbank-item-icon">
                                <a href="#" data-wowhead="item={{ item.item.id }}&amp;domain={{wowheaddomain}}" data-wh-icon-size="medium"></a>
                            </span>
                            {{ item.item.name }} > <a href="{{ path('character', {'charId': item.player.id}) }}">{{ item.player.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% if is_granted('ROLE_RAIDMANAGER') %}
                    <hr>
                    <a href="{{ path('raid_edit', {raidId:raid.id}) }}" class="btn btn-primary">Edit Loot</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
