{% extends 'base.html.twig' %}

{% block title %}Show Raid Details!{% endblock %}

{% block body %}
<div class="content-section bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-9">
                <h3>{% trans %}Loot{% endtrans %}</h3>
                <ul class="list-group">
                    {% for item in raid.loots %}
                        <li class="list-group-item">
                            <span class="guildbank-item-icon">
                                <a href="#" data-wowhead="item={{ item.item.id }}&amp;domain={{wowheaddomain}}" data-wh-icon-size="medium"></a>
                            </span>
                            {{ item.item.name }} > <a href="{{ path('character', {'charId': item.player.id}) }}">{{ item.player.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% if is_granted('ROLE_RAIDMANAGER') %}
                    <hr>
                    <a href="{{ path('raid_edit', {raidId:raid.id}) }}" class="btn btn-primary">Edit Loot</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
