{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}

{% block title %}{% trans %}News List{% endtrans %}{% endblock %}

{% block body %}
    <div class="content-section bg-primary text-white">
        <div class="container">
            <h1>{% trans %}News List{% endtrans %}</h1>
        </div>
    </div>
    <div class="content-section bg-transparent">
        <div class="container">
            {% for newsItem in news %}
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            {% if newsItem.coverimage %}
                                <img src="{{ newsItem.coverimage|replace({(kernelRootDir):''}) }}" class="card-img" alt="{{ newsItem.title }}">
                            {% endif %}
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">{{ newsItem.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ newsItem.publishedOn|date('d.m.Y') }}</h6>
                                <p class="card-text">{{newsItem.abstract|raw}}</p>
                                <a href="{{ path('news_show', {'newsId': newsItem.id}) }}" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
