{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}{% trans %}No Feedback{% endtrans %}{% endblock %}

{% block body %}
    <div class="content-section bg-transparent">
        <div class="container">
            {{ form_start(form) }}
            <div class="float-right">
                {{ form_widget(form.submit) }}
            </div>
            <h1>Missing Feedback for Raids</h1>
            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-lg">
                        <li class="page-item disabled"><a class="page-link" href="#"> Select Class</a></li>
                        {% for i in 1..7 %}
                            <li class="page-item{% if class == i %} active{% endif %}"><a class="page-link" href="{{ path('raid_signup_cancelbyclass', {class: i}) }}"><img src="{{ asset('assets/icons/class_'~i~'.png') }}" height="28"></a></li>
                        {% endfor %}
                        <li class="page-item{% if class == 9 %} active{% endif %}"><a class="page-link" href="{{ path('raid_signup_cancelbyclass', {class: 9}) }}"><img src="{{ asset('assets/icons/class_9.png') }}" height="28"></a></li>
                    </ul>
                </nav>
            </div>
            {% if accountsWithoutDiscordHandles|length > 0 %}
                <div class="row">
                    <p>Accounts without Discord ID:
                        {% for account in accountsWithoutDiscordHandles %}
                    {{ account }},
                {% endfor %}
                    </p>
                </div>
            {% endif %}
            <div class="row">
                {% for raidId, raid in raids %}
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ raid.event.title }} {{ raid.event.start|date('D, d.m.Y') }} <small>(ID: {{ raid.event.id }})</small></h5>
                                {% if raid.deadline|date('U') < "now"|date('U') %}
                                    <span class="badge badge-danger">Over deadline</span>
                                {% endif %}
                                <ul class="groupbuilder-list">
                                    {% for player in raid.noFeedback %}
                                        <li class="groupbuilder-item-player class-{{ player.class }} {% if player.twink == true %}twink{% endif %}">
                                            {% if player.metaSpec == 1 %}
                                                <i class="fa fa-fw fa-shield-alt" title="ID: {{ player.id }}"></i>
                                            {% elseif player.metaSpec == 2 %}
                                                <i class="fa fa-fw fa-band-aid" title="ID: {{ player.id }}"></i>
                                            {% elseif player.metaSpec == 3 %}
                                                <i class="fa fa-fw fa-skull-crossbones" title="ID: {{ player.id }}"></i>
                                            {% elseif player.metaSpec == 4 %}
                                                <i class="fa fa-fw fa-crosshairs" title="ID: {{ player.id }}"></i>
                                            {% endif %}
                                            <small title="ID: {{ player.id }}">{{ player.name }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {{ form_widget(attribute(form, 'raid_'~raidId)) }} Ping people on discord
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

