{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}{% trans %}Raid Signup{% endtrans %}{% endblock %}

{% block body %}
    <div class="content-section bg-transparent">
        <div class="container">
            <h1>Raid Signups</h1>
            <form action="{{ path('raid_signup_edit') }}" method="post">
                <div class="row">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>From</th>
                            {% for character in account.characters %}
                                <th>{{ character.name }}</th>
                            {% endfor %}
                            <th>Deadline</th>
                        </tr>
                    {% for event in events %}
                        <tr class="{{ macros.tableHighLight(signUps, event, account) }}">
                            <td>{{ event.title }}<br>
                                <small>{{ event.start|date('D, d.m.Y') }}</small>
                            </td>
                            {% for character in account.characters %}
                                <td>
                                    {% if event.deadline|date('U') > "now"|date('U') %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="signup[{{ character.id }}][{{ event.id }}]" id="signupTrue_{{ character.id }}_{{ event.id }}" value="yes" {{ macros.signedUpCheckbox(signUps, character, event, '1') }}>
                                        <label class="form-check-label" for="signupTrue_{{ character.id }}_{{ event.id }}">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="signup[{{ character.id }}][{{ event.id }}]" id="signupFalse_{{ character.id }}_{{ event.id }}" value="no" {{ macros.signedUpCheckbox(signUps, character, event, '2') }}>
                                        <label class="form-check-label" for="signupFalse_{{ character.id }}_{{ event.id }}">No</label>
                                    </div>
                                    {% else %}
                                        SignUp Closed!
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td>{{ event.deadline|date('d.m.Y H:i') }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <input type="submit" value="Save" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

