{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}{% trans %}Raid Signup{% endtrans %}{% endblock %}

{% block body %}
    <div class="content-section bg-transparent">
        <div class="container">
            <h1>Raid Signups</h1>
            <form action="{{ path('raid_signup_edit') }}" method="post">
                <div class="row">
                    <table class="table table-sm table-striped">
                        <tr>
                            <th>From</th>
                            {% for character in account.characters %}
                                {% if character.hidden == false %}
                                    <th>{{ character.name }}</th>
                                {% endif %}
                            {% endfor %}
                            <th>Deadline</th>
                            <th>Setup</th>
                        </tr>
                    {% for event in events %}
                        <tr class="{{ macros.tableHighLight(signUps, event, account) }}">
                            <td>
                                {% if event.deadline|date('U') > "now"|date('U') %}
                                    <span class="btn btn-outline-success multisignup-row" data-response="yes" data-event="{{ event.id }}"><i class="fa fa-angle-double-right"></i></span>
                                    <span class="btn btn-outline-danger multisignup-row" data-response="no" data-event="{{ event.id }}"><i class="fa fa-angle-double-right"></i></span>
                                {% endif %}
                                {{ event.title }}<br>
                                <small>{{ event.start|date('D, d.m.Y') }} 19:00</small>
                            </td>
                            {% for character in account.characters %}
                                {% if character.hidden == false %}
                                    <td>
                                        {% if event.deadline|date('U') > "now"|date('U') %}
                                        <div class="form-check form-check-inline">
                                            <input data-character="{{ character.id }}" data-response="yes" data-event="{{ event.id }}" class="form-check-input" type="radio" name="signup[{{ character.id }}][{{ event.id }}]" id="signupTrue_{{ character.id }}_{{ event.id }}" value="yes" {{ macros.signedUpCheckbox(signUps, character, event, '1') }}>
                                            <label class="form-check-label" for="signupTrue_{{ character.id }}_{{ event.id }}">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input data-character="{{ character.id }}" data-response="no" data-event="{{ event.id }}" class="form-check-input" type="radio" name="signup[{{ character.id }}][{{ event.id }}]" id="signupFalse_{{ character.id }}_{{ event.id }}" value="no" {{ macros.signedUpCheckbox(signUps, character, event, '2') }}>
                                            <label class="form-check-label" for="signupFalse_{{ character.id }}_{{ event.id }}">No</label>
                                        </div>
                                        {% else %}
                                            SignUp Closed!
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                {% if event.deadline|date('U') < "now"|date('U') %}
                                    <small class="text-danger">{{ event.deadline|date('d.m.Y H:i') }}</small>
                                {% else %}
                                    <small class="text-success">{{ event.deadline|date('d.m.Y H:i') }}</small>
                                {% endif %}
                            </td>
                            <td>
                                {% if event.raidGroups is defined %}
                                    <table class="table table-sm">
                                        {% for raidGroup in event.raidGroups %}
                                            {% set statusLabel = '<span class="badge badge-danger">Planung</span>' %}
                                            {% set groupLink = raidGroup.name %}
                                            {% if raidGroup.setup.status is defined and raidGroup.setup.status == 1 %}
                                                {% set statusLabel = '<span class="badge badge-success">Final</span>' %}
                                                {% set groupLink = '' %}
                                            {% endif %}
                                            <tr>
                                                <td>
                                                    {% if raidGroup.setup.status is defined and raidGroup.setup.status == 1 %}
                                                        <a class="btn btn-success btn-sm" href="{{ path('raid_setup', {'raidGroupId': raidGroup.id}) }}">
                                                    {% endif %}
                                                        {{ raidGroup.name }}
                                                    </a>
                                                </td>
                                                <td><span class="badge badge-light">{{ zones.zoneName(raidGroup.zone) }}</span></td>
                                                <td>{{ statusLabel|raw }}</td>
                                                <td>
                                                    {% if event.charsInSetup[raidGroup.id] is defined %}
                                                        {% for character in event.charsInSetup[raidGroup.id] %}
                                                            {{ character.name }}
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td></td>
                            {% for character in account.characters %}
                                {% if character.hidden == false %}
                                    <th>
                                        <span class="btn btn-outline-success multisignup-col" data-response="yes" data-character="{{ character.id }}"><i class="fa fa-angle-double-up"></i></span>
                                        <span class="btn btn-outline-danger multisignup-col" data-response="no" data-character="{{ character.id }}"><i class="fa fa-angle-double-up"></i></span>
                                    </th>
                                {% endif %}
                            {% endfor %}
                            <td></td>
                            <td></td>
                        </tr>
                    </table><hr>
                    <span class="btn btn-warning multisignup-all">Sign Up All Chars for all Events</span><hr>
                    <input type="submit" value="Save" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

