{% extends 'base.html.twig' %}
{% import 'macros/groupbuilder.html.twig' as groupBuilderMacros %}
{% block title %}{% trans %}Group Builder{% endtrans %}{% endblock %}

{% block body %}
    <div class="content-section bg-transparent">
        <div class="container">
            <h3 id="raid-id" data-raidid="{{ raid.id }}" {% if raidGroup is not null %}data-raidgroup="{{ raidGroup.id }}"{% endif %}>{{ raid.title }} {{ raid.start|date('D, d.m.Y') }} <span id="loader" class="text-primary"></span></h3>
            <div id="raidGroupMeta">
                <form class="form-inline" id="meta-form">
                    <div class="input-group mr-2">
                        <label class="sr-only" for="raid-name">Name</label>
                        <input type="text" class="form-control" id="raid-name" placeholder="Raid Name" value="{% if raidGroup is not null %}{{ raidGroup.name }}{% endif %}">
                    </div>
                    <div class="input-group mr-2">
                        <label class="sr-only" for="raid-zone">Zone</label>
                        <select class="custom-select form-control form-control-sm d-inline-block" id="raid-zone">
                            <option selected>Zone</option>
                            <option value="3457"{% if raidGroup is not null and raidGroup.zone ==  2717%} selected{% endif %}>Karazhan</option>
                            <option value="3836"{% if raidGroup is not null and raidGroup.zone ==  3836%} selected{% endif %}>Magtheridon's Lair</option>
                            <option value="3923"{% if raidGroup is not null and raidGroup.zone ==  3923%} selected{% endif %}>Gruul's Lair</option>
                            <option value="3607"{% if raidGroup is not null and raidGroup.zone ==  3607%} selected{% endif %}>Serpentshrine Cavern</option>
                            <option value="3845"{% if raidGroup is not null and raidGroup.zone ==  3845%} selected{% endif %}>Tempest Keep</option>
                            <option value="3606"{% if raidGroup is not null and raidGroup.zone ==  3606%} selected{% endif %}>Hyjal Summit</option>
                            <option value="3959"{% if raidGroup is not null and raidGroup.zone ==  3959%} selected{% endif %}>Black Temple</option>
                            <option value="4131"{% if raidGroup is not null and raidGroup.zone ==  4131%} selected{% endif %}>Sunwell Plateau</option>
                        </select>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="setup-status" id="status-0" value="0" {% if raidGroup.setup.status is defined and raidGroup.setup.status ==  0%} checked{% endif %}>
                        <label class="form-check-label" for="status-0">Vorläufig</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="setup-status" id="status-1" value="1" {% if raidGroup.setup.status is defined and raidGroup.setup.status ==  1%} checked{% endif %}>
                        <label class="form-check-label" for="status-1">Final</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row">
                <div class="col-sm-6 col-md-2">
                    <h6><span id="unassigned-players">{{ signUps|length }}</span> unassigned</h6>
                    <ul class="groupbuilder-list unsorted-players">
                        {% for signup in signUps %}
                            <li
                                    id="{{ signup.playerName.account.id }}-{{ signup.playerName.id }}-{{ raid.id }}"
                                    class="groupbuilder-item-player class-{{ signup.playerName.class }} {% if signup.playerName.twink == true %}twink{% endif %}"
                                    data-account="{{ signup.playerName.account.id }}"
                                    data-character="{{ signup.playerName.id }}"
                                    data-spec="{{ signup.playerName.metaSpec }}"
                                    data-class="{{ signup.playerName.class }}"
                                    data-player-id="{{ signup.playerName.id }}"
                                    data-player-status="1"
                                    {% if signup.playerName.account.id in assignedPlayers%}
                                        style="display: none;"
                                    {% endif %}
                            >
                                <i class="spec"><img src="/assets/icons/spec_{{ signup.playerName.spec }}.jpg" width="18"></i>
                                <small>{{ signup.playerName.name }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                    <h6><span id="bench">{{ playersOnBench|length }}</span> on the bench</h6>
                    <ul class="groupbuilder-list benched-players">
                        {% for playerOnBench in playersOnBench %}
                            <li
                                    id="{{ playerOnBench.account.id }}-{{ playerOnBench.id }}-{{ raid.id }}"
                                    class="groupbuilder-item-player class-{{ playerOnBench.class }} {% if playerOnBench.twink == true %}twink{% endif %}"
                                    data-account="{{ playerOnBench.account.id }}"
                                    data-character="{{ playerOnBench.id }}"
                                    data-spec="{{ playerOnBench.metaSpec }}"
                                    data-class="{{ playerOnBench.class }}"
                                    data-player-id="{{ playerOnBench.id }}"
                                    data-player-status="1"
                                    {% if playerOnBench.account.id in assignedPlayers%}
                                        style="display: none;"
                                    {% endif %}
                            >
                                <i class="spec"><img src="/assets/icons/spec_{{ playerOnBench.spec }}.jpg" width="18"></i>
                                <small>{{ playerOnBench.name }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                    <h6><span id="inother-players">{{ playersInOtherSetups|length }}</span> signed up, but in other setups (incl. hidden twinks)</h6>
                    <ul class="groupbuilder-list inother-players">
                        {% for playerInOtherSetup in playersInOtherSetups %}
                            <li
                                    id="{{ playerInOtherSetup.account.id }}-{{ playerInOtherSetup.id }}-{{ raid.id }}"
                                    class="groupbuilder-item-player class-{{ playerInOtherSetup.class }} {% if playerInOtherSetup.twink == true %}twink{% endif %}"
                                    data-account="{{ playerInOtherSetup.account.id }}"
                                    data-character="{{ playerInOtherSetup.id }}"
                                    data-spec="{{ playerInOtherSetup.metaSpec }}"
                                    data-class="{{ playerInOtherSetup.class }}"
                                    data-player-id="{{ playerInOtherSetup.id }}"
                                    data-player-status="1"
                                    {% if playerInOtherSetup.account.id in assignedPlayers%}
                                        style="display: none;"
                                    {% endif %}
                            >
                                <i class="spec"><img src="/assets/icons/spec_{{ playerInOtherSetup.spec }}.jpg" width="18"></i>
                                <small>{{ playerInOtherSetup.name }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 raid-group-block-alpha">
                    <div class="row sticky-top">
                        <div class="col-sm-5">
                            <h6>Group 1</h6>
                            <ul class="groupbuilder-raidgroup alpha" data-group="1" data-weekday="{{ raid.start|date('D') }}">
                                {{ groupBuilderMacros.raidGroup(raidGroup, 1) }}
                            </ul>
                            <h6>Group 3</h6>
                            <ul class="groupbuilder-raidgroup alpha" data-group="3" data-weekday="{{ raid.start|date('D') }}">
                                {{ groupBuilderMacros.raidGroup(raidGroup, 3) }}
                            </ul>
                            <h6>Group 5</h6>
                            <ul class="groupbuilder-raidgroup alpha" data-group="5" data-weekday="{{ raid.start|date('D') }}">
                                {{ groupBuilderMacros.raidGroup(raidGroup, 5) }}
                            </ul>
                        </div>
                        <div class="col-sm-5">
                            <h6>Group 2</h6>
                            <ul class="groupbuilder-raidgroup alpha" data-group="2" data-weekday="{{ raid.start|date('D') }}">
                                {{ groupBuilderMacros.raidGroup(raidGroup, 2) }}
                            </ul>
                            <h6>Group 4</h6>
                            <ul class="groupbuilder-raidgroup alpha" data-group="4" data-weekday="{{ raid.start|date('D') }}">
                                {{ groupBuilderMacros.raidGroup(raidGroup, 4) }}
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <table>
                                <tr><td><i class="fa fa-fw fa-biohazard"></i></td>                          <td class="counter" id="count-sum">0</td></tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr><td><i class="fa fa-fw fa-shield-alt"></i></td>                         <td class="counter" id="count-tank-alpha">0</td></tr>
                                <tr><td><i class="fa fa-fw fa-band-aid"></i></td>                           <td class="counter" id="count-heal-alpha">0</td></tr>
                                <tr><td><i class="fa fa-fw fa-skull-crossbones"></i></td>                   <td class="counter" id="count-dps-alpha">0</td></tr>
                                <tr><td><i class="fa fa-fw fa-crosshairs"></i></td>                         <td class="counter" id="count-ranged-alpha">0</td></tr>
                                <tr><td colspan="2"><hr></td></tr>
                                <tr><td><img src="{{ asset('assets/icons/class_1.png') }}" style="width: 20px;" alt="Warrior"></td><td class="counter" id="count-1-alpha">0</td></tr>
                                <tr><td><img src="{{ asset('assets/icons/class_2.png') }}" style="width: 20px;" alt="Priest"></td><td class="counter" id="count-2-alpha">0</td></tr>
                                <tr><td><img src="{{ asset('assets/icons/class_3.png') }}" style="width: 20px;" alt="Mage"></td><td class="counter" id="count-3-alpha">0</td></tr>
                                <tr><td><img src="{{ asset('assets/icons/class_4.png') }}" style="width: 20px;" alt="Warlock"></td><td class="counter" id="count-4-alpha">0</td></tr>
                                <tr><td><img src="{{ asset('assets/icons/class_5.png') }}" style="width: 20px;" alt="Rogue"></td><td class="counter" id="count-5-alpha">0</td></tr>
                                <tr><td><img src="{{ asset('assets/icons/class_6.png') }}" style="width: 20px;" alt="Druid"></td><td class="counter" id="count-6-alpha">0</td></tr>
                                <tr><td><img src="{{ asset('assets/icons/class_7.png') }}" style="width: 20px;" alt="Hunter"></td><td class="counter" id="count-7-alpha">0</td></tr>
                                <tr><td><img src="{{ asset('assets/icons/class_8.png') }}" style="width: 20px;" alt="Shaman"></td><td class="counter" id="count-8-alpha">0</td></tr>
                                <tr><td><img src="{{ asset('assets/icons/class_9.png') }}" style="width: 20px;" alt="Paladin"></td><td class="counter" id="count-9-alpha">0</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h6>Item need</h6>
                    <table id="item-need" class="table table-sm">

                    </table>
                    <a class="btn btn-info" id="load-bis-info">Load Items</a>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h6>{{ cancellations|length }} Cancellations</h6>
                    <ul class="groupbuilder-list">
                        {% for player in cancellations %}
                            <li
                                    class="groupbuilder-item-player class-{{ player.class }} {% if player.twink == true %}twink{% endif %}"
                                    data-player-id="{{ player.id }}"
                                    data-player-status="2"
{#                                    {% if player.account.id in assignedPlayers %}#}
{#                                        style="display: none;"#}
{#                                    {% endif %}#}
                            >
                                <i class="spec"><img src="/assets/icons/spec_{{ player.spec }}.jpg" width="18"></i>
                                <small>{{ player.name }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h6>{{ noFeedback|length }}x No Feedback</h6>
                    <ul class="groupbuilder-list">
                        {% for player in noFeedback %}
                            <li
                                    class="groupbuilder-item-player class-{{ player.class }} {% if player.twink == true %}twink{% endif %}"
                                    data-player-id="{{ player.id }}"
                                    data-player-status="0"
{#                                    {% if player.account.id in assignedPlayers %}#}
{#                                        style="display: none;"#}
{#                                    {% endif %}#}
                            >
                                <i class="spec"><img src="/assets/icons/spec_{{ player.spec }}.jpg" width="18"></i>
                                <small>{{ player.name }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="contextmenu" style="position: absolute; width: 180px; display: none">
                <div class="btn-group-vertical btn-group-sm">
                    <a href="" class="btn btn-success context-button context-button-1"><span class="context-playername">Spieler</span> &nbsp;anmelden</a>
                    <a href="" class="btn btn-danger  context-button context-button-2"><span class="context-playername">Spieler</span> &nbsp;abmelden</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}