{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
    <div class="content-section bg-transparent">
        <div class="container">
            <div class="float-right">
                <a href="{{ path('character_create') }}" class="btn btn-primary">
                    {% trans %}Create character{% endtrans %}
                </a>
            </div>
            <h3>{% trans %}My characters{% endtrans %}</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>{% trans %}Class{% endtrans %}</th>
                        <th>{% trans %}Spec{% endtrans %}</th>
                        <th class="text-right">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for character in characters %}
                        <tr>
                            <td>{{ character.name }}</td>
                            <td>{{ character.getClassName() }}</td>
                            <td>{{ character.getSpecName() }}</td>
                            <td class="text-right">
                                <a href="{{ path('character_update', {'charId': character.id}) }}" class="btn btn-primary">
                                    {% trans %}Edit{% endtrans %}
                                </a>
                                <a href="{{ path('character_bislist', {'charId': character.id}) }}" class="btn btn-primary">
                                    {% trans %}BiS list{% endtrans %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
